.header__container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.header {
  padding: 14px 130px 0px;
  @include media(375px) {
    padding: 14px 0px 0px;
  }
}
.header__top {
  padding: 0 0 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-logo {
  width: 181.32px;
  height: 26.26px;
  @include media(375px) {
    // padding: none;
    margin-left: auto;
  }
  @include media(375px) {
    margin-right: auto;
  }
}
.header__nav {
  @include media(375px) {
    display: none;
  }
}
.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}
.nav__item-link {
  color: #333;
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(375px) {
    display: none;
  }
}
.header__wrapper-link {
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333;
}
.header__wrapper-link img {
  width: 19px;
  height: 19px;
}
.header__wrapper-link:nth-child(1) {
  text-decoration: underline;
}
.header__wrapper-link-img {
  margin-right: 12.4px;
  margin-left: 5.64px;
}
.header__bottom {
  width: 100%;
  padding: 8.5px 0px;
  background: linear-gradient(0deg, #333333, #333333),
    linear-gradient(0deg, #333333, #333333), #735ff2;
  @include media(375px) {
    display: none;
  }
}
.header__bottom-list {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  list-style: none;
}
.header__bottom-item {
  margin: 0 28px;
}
.header__bottom-link {
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
}
.header__bottom-img {
  background-image: url(../../images/jpg/header-bottom.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 358px;
  width: 100%;

  @include media(375px) {
    width: 100%;
    min-height: 156.55px;
  }
}

// hidden section
.hidden {
  position: fixed;
  padding: 20.7px 20.4px 35.49px;
  background: #333;
  transform: translate(-100%);
  display: none;
}
.hidden-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60.54px;
}
.hidden-top .site-logo {
  margin-right: auto;
}
.hidden-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 157px;
}
.hidden-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  gap: 20px;
}
.hidden-item {
}
.hidden-link {
  color: #fff;
  font-family: "Fira Sans";
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.hidden-line {
  width: 334.89px;
  height: 1px;
  background: #fff;
  opacity: 10%;
  display: inline-block;
  margin: 40.33px 0px;
}
.hidden__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  gap: 20px;
}
.hidden__item-link {
  font-family: "Fira Sans";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
.hidden-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hidden__bottom a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hidde__bottom-link {
  color: #fff;
}
.hidde__bottom-link-img {
}
.bars-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: none;

  @include media(375px) {
    display: block;
    width: 25.8px;
    height: 8px;
  }
}
